extends ../shared/template

block content
  .container
    .row.clearfix
        .col-md-12.column
          .page-header
            h1
              | Open Course 
              small The Internet's free Learning Management System
